<div class="col-md-6">
  <h2 class="text-center">Add Program</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div> -->

    <div class="form-group">
      <label for="programName">Program Name:</label>
      <input formControlName="programName" placeholder="Program Name" name="programName" class="form-control" id="programName"
      placeholder="Enter Program name like MCA,BBA,etc">
    </div>

    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="date" formControlName="startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate"
      placeholder="Enter date in format:'dd-mm-yyyyy'">
    </div>

    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="date" formControlName="endDate" placeholder="End Date" name="endDate" class="form-control" id="endDate"
      placeholder="Enter date in format:'dd-mm-yyyyy'">
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <input  formControlName="location" placeholder="Location" name="location" class="form-control" id="location"
      placeholder="Enter Location">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
